{% extends "base.html" %}
{% load static %}
{% block css_block %} {% endblock %}

{% block body_block %}
<div class="container">
    <div id="main-container">
        {% for question in page_obj %}
        {{question}} <br>
        {% for choice in question.choice_set.all %}
        
        <div class="form-check">
            <label class="form-check-label">
                <input {% if answer.id == choice.id %}checked{% endif %} type="radio" class="form-check-input" name="optradio" choice_id="{{ choice.id }}">{{ choice }}
            </label>
        </div>
        {% endfor %}
        {% if status == 1 %} Marked for review {% endif %}
        <button class="btn btn-primary btn-sm ajax-markReview-btn" url="{% url 'quiz_app:ajax_save_live_quiz' %}"
            question_id="{{ question.id }}" to_do="markForReview">Mark For Review</button>
        <button class="btn btn-primary btn-sm ajax-dontReview-btn" url="{% url 'quiz_app:ajax_save_live_quiz' %}"
            question_id="{{ question.id }}" to_do="dontMarkForReview">Don't Mark For Review</button>
        <button class="btn btn-primary btn-sm ajax-save-btn" url="{% url 'quiz_app:ajax_save_live_quiz' %}"
            question_id="{{ question.id }}" to_do="updateAns">Save</button>
        {% endfor %}
        
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <button class="btn btn-danger btn-sm ajax-btn-page" url="?page=1">&laquo; first</button>
                <button class="btn btn-danger btn-sm ajax-btn-page"
                    url="?page={{ page_obj.previous_page_number }}">previous</button>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                <button class="btn btn-danger btn-sm ajax-btn-page" url="?page={{ page_obj.next_page_number }}">next</button>
                <button class="btn btn-danger btn-sm ajax-btn-page" url="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</button>
                {% endif %}
            </span>
        </div>
    </div>

</div>
<br><br><br>
<div class="container">
    <div id="page-container">
    {% for p in allPages %}
            <button class="btn btn-danger btn-sm ajax-btn-page-direct" url="?page={{ p }}">{{ p }}</button>
    {% endfor %}
    </div>    
<div>
{% endblock %}

{% block java_script %}
<script src="{% static 'js/live_quiz.js' %}"></script>
{% endblock %}