{% extends 'base.html' %}
{% load static %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/quiz_live.css' %}">
{% endblock %}
{% block body_block %}

<section style="padding-bottom:0px; padding-top:48px;">
    <div id="ajax-main-container" style=" padding: 0px;">
        <div class="row quizheader">
            <div class="col-lg-9" style="border-right: 1px solid black;">
                <p class="quizheadtext floatleft">{{ quiz_title }}</p>
                <p class="quizheadtext floatright">
                    Total Marks: {{ page_obj.paginator.num_pages }}
                </p>
            </div>
            <div class="col-lg-3">
                <p class="quiz-time floatleft">
                    <span class="bx bx-time">00:20:10</span>
                </p>
                <a class="btn btn-danger quitbtn" href="#">Quit</a>
            </div>
        </div>
        <div class="row" style="height:100%;">
            <div class="col-lg-9" style="border-right: 1px solid black; padding-bottom:8%;">
                {% for question in page_obj %}
                    <p class="quiztext ajax-question-container" question_id="{{ question.id }}">
                        Q <span>{{ page_obj.number }}</span>. {{ question.question }}
                    </p>
                    {% for choice in question.question.choice_set.all %}
                        <p class="quiztext">
                            <input {% if question.myAns == choice %}checked{% endif %} type="radio" name="optradio" choice_id="{{ choice.id }}">{{ choice }}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-lg-3" style="overflow-y: scroll;">
                <p id="totalq" style="display:none;">15</p>
                <div class="row" style="padding:5px;">
                    {% for record in records %}
                        <button class="btn ajax-btn-page-direct {% if record.status == 0 %}btn-warning{% elif record.status == 1 %}btn-info{% else %}btn-success{% endif %}" url="?page={{ forloop.counter }}">{{ forloop.counter }}</button>        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" style="height:100%; border-bottom: 1px solid black;">
            <div class="col-lg-9" style="border-right: 1px solid black; padding-bottom:15px;">
                <button class="btn btn-success quitbtn ajax-save-mark" url="{% url 'quiz_app:ajax_save_live_quiz' %}" to_do="saveAndNext">Save &
                    Next</button>
                <button class="btn btn-info quitbtn ajax-save-mark" url="{% url 'quiz_app:ajax_save_live_quiz' %}" to_do="markForReview">Mark for
                    Review</button>
                <button class="btn quitbtn skipbtn ajax-btn-page-direct"
                    {% if page_obj.has_next %} url="?page={{ page_obj.next_page_number }}"{% else %}url="?page=1"{% endif %}>Skip</button>
            </div>
            <div class="col-lg-3" style="overflow-y: scroll;">
                <a class="btn btn-success quitbtn" href="#">Submit</a>
            </div>
        </div>
    </div>
</section>

{% endblock body_block %}

{% block java_script %}
<script src="{% static 'js/live_quiz.js' %}"></script>
{% endblock %}